/* DEFAULT */
body {
    padding: 0%;
    margin: 0%;
    width: 100%;
  }
  
  /* TOP CONTAINER */
  
  /* .top-container {
    position: absolute;
  }
  .cover_img {
    width: 1349px;
    height: 663px;
  }
  .my_name {
    position: relative;
    bottom: 550px;
    left: 600px;
    color: aliceblue;
  }
  .nav-bar {
    position: relative;
    bottom: 645px;
    left: 1000px;
  }
  h3 {
    display: inline;
    padding-right: 83px;
    color: rgb(255, 255, 255);
  }
  /* MIDDLE CONTAINER */
  
  /* .bottom-container {
    position: relative;
    background-color: #002e46;
    width: 1349px;
    height: 500px;
    top: 1000px;
  }  */
  
  /* ====================================================== */
  
  /* TOP CONTAINER */
  
  .cover-img {
    width: 1349px;
    height: 663px;
  }
  
  .navbar-expand-lg {
    left: 1120px;
  }
  
  .quotes {
    position: absolute;
    bottom: 340px;
    left: 403px;
  }
  
  /* MIDDLE CONTAINER */
  
  .profile {
    text-align: center;
  }
  
  .para-about {
    text-align: left;
    padding-left: 362px;
  }
  
  .develop-para,
  .design-para,
  .photography-para {
    padding-top: 150px;
  }
  
  .contact-me {
    background-color: lightblue;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  .octicon {
    position: relative;
    top: -2px;
  }
  
  /* MEDIA QUERY */
  
  @media (max-width: 768px) {
    .navbar {
      position: absolute;
      left: 0px;
    }
  
    .container-fluid .top-container {
      padding-left: 0px;
      padding-right: 0px;
    }
    .cover-img {
      height: 663px;
      width: 433px;
    }
  
    .para-about {
      padding-left: 0px;
    }
    .quotes {
      position: absolute;
      bottom: 650px;
      left: 0px;
    }
  
    .navbar-toggler {
      margin-left: 165px;
    }
  
    .dev-pic {
      width: 200%;
    }
    .design-pic {
      width: 200%;
    }
    .pho-pic {
      width: 216%;
    }
  
    .develop-para {
      position: relative;
      top: 57px;
      right: 79px;
    }
  }