body {
    margin: 0px;
    padding: 0px;
  }
  
  .main {
    padding: 17px;
    margin-top: 31px;
  }
  
  .footer {
    margin-bottom: 17px;
  }
  
  .octicon {
    position: relative;
    top: 5px;
  }